
.logo{
    height: auto;
    width: 4vh;
}
.logo-color{
    background-color: #363636;
}
.scrollable {
    height: 92vh; /* Adjust the height as needed */
    overflow-y: auto;
    position: sticky;
    top: 0;
}
.navbar {
    height: 8vh; /* Adjust the height as needed */
    z-index: 1000;
}
.title-name{
    height: 4vh
}

/* hover effects */

.nav-link{
    color:white;
    transition: color 0.5s;
}
.nav-link:hover{
    color: rgb(173, 173, 173);
}
.text-active{
    color: rgb(204, 204, 204);
}

/* custom sizes of pictures */

